<div class="footer-details mt-5">
    <div class="logo">
        <h2>Furni<span>..</span></h2>
    </div>

    <div class="detail row">
        <div class="description col-10 col-md-6">
            <p>Furniture, household equipment, usually made of wood, metal, plastics, marble, glass, fabrics, or related
                materials and having a variety of different purposes.</p>
        </div>
        <div class="list1 col-10 col-md">
            <ul>
                <li>About us</li>
                <li>Services</li>
                <li>Blog</li>
                <li>Contact us</li>
            </ul>
        </div>
        <div class="list2 col-10 col-md">
            <ul>
                <li>Support</li>
                <li>Knowledge base</li>
                <li>Live Chat</li>
            </ul>
        </div>
        <div class="list3 col-10 col-md">
            <ul>
                <li>Jobs</li>
                <li>Our Team</li>
                <li>Leadership</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="list4 col-10 col-md">
            <ul>
                <li>Nordic Chair</li>
                <li>Kruzo Aero</li>
                <li>Ergonomic Chair</li>
            </ul>
        </div>
    </div>
    <div class="social-links d-flex gap-3">
        <div class="icon-social"><i class="fa-brands fa-facebook-f"></i></div>
        <div class="icon-social"><i class="fa-brands fa-twitter"></i></div>
        <div class="icon-social"><i class="fa-brands fa-instagram"></i></div>
        <div class="icon-social"><i class="fa-brands fa-linkedin"></i></div>
    </div>
</div>