<div class="contact-page">
    <div class="contact">
        <div class="contact-heading">
            <h2>Contact Us</h2>
        </div>
        <div class="contact-body d-flex flex-column justify-content-center align-items-center">
            <div class="details">
                <div class="logo-addrs d-flex flex-md-row flex-lg-row flex-column flex-sm-column gap-5">
                    <div class="location d-flex">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>43 Raymouth Rd. Baltemoer, London 3910
                        </p>
                    </div>
                    <div class="email d-flex">
                        <i class="fa-solid fa-envelope"></i>
                        <p>furni123&#64;gmail.com</p>
                    </div>
                    <div class="mob-no d-flex">
                        <i class="fa-solid fa-phone"></i>
                        <p>+91 1234567890</p>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <form action="" class="d-flex flex-column gap-2">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="5" cols="30"></textarea>
           <div class="pt-5">
            <button class="btn">Send Message</button>
           </div> 
                </form>
            </div>
        </div>
    </div>
</div>