<div class="about-page" id="about">
    <div class="container d-flex flex-column flex-md-row gap-5">
        <div class="left-side">
            <h3>Why Choose Us</h3>
            <p>Format Furniture knows about custom-made furniture and kills it in website design. This first screen
                grabs your attention with a fantastic photo from the company’s portfolio and bold typography.</p>
            <div class="about-details">
                <div class="container">
                    <div class="details row">
                        <div class="detail col-12 col-md-6 gap-4"><i class="fa-solid fa-truck"></i>
                            <!-- <div class="design position-absolute"></div> -->
                            <h4>Fast & Free Shipping</h4>
                            <p>Free shipping is an increasingly-popular option for online shopping, where customers do
                                not have to pay an additional shipping charge</p>
                        </div>
                        <div class="detail col-12 col-md-6"> <i class="fa-brands fa-shopify"></i>
                            <h4>Easy to Shop</h4>
                            <p>Free shipping is an increasingly-popular option for online shopping, where customers do
                                not have to pay an additional shipping charge</p>
                        </div>
                        <div class="detail col-12 col-md-6"><i class="fa-solid fa-life-ring"></i>
                            <h4>24/7 Support</h4>
                            <p>Free shipping is an increasingly-popular option for online shopping, where customers do
                                not have to pay an additional shipping charge</p>
                        </div>
                        <div class="detail col-12 col-md-6"> <i class="fa-solid fa-arrow-rotate-left"></i>
                            <h4>Free Returns</h4>
                            <p>Free shipping is an increasingly-popular option for online shopping, where customers do
                                not have to pay an additional shipping charge</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="image-section position-relative">
                <img src="assets/images/abt-image.jpg" alt="abt image" class="abt-image">
            </div>
        </div>
    </div>
</div>

<app-our-team></app-our-team>