<div class="our-team">
    <div class="container p-2">
        <h2>Our Team</h2>
        <div class="team-details row p-5">
            <div class="detail col-md-3">
                <div class="img-section d-flex flex-column justify-content-center align-items-center">
                <img src="assets\images\ourteam1.jpg" alt="image" class="image-sec">
                    <p class="name">Lawson Arnold</p>
                    <p class="p-detail">Secretary, Atty</p>
                    <p class="p-desc">A secretary is an administrative professional who plays an integral role in business and other organizational environments. </p>
                    <a class="link-text" href="#top" (click)="scrollToTop($event)">Learn more</a>
                </div>
            </div>
            <div class="detail col-md-3">
              <div class="img-section">
                <img src="assets\images\ourteam2.jpg" alt="image1" class="image-sec">
                <p class="name">Jeremy Walker</p>
                <p class="p-detail">Founder, Atty</p>
                <p class="p-desc">The person who started the company. It is someone who has an idea and creates a business around that idea.</p>
                <a class="link-text" href="#top" (click)="scrollToTop($event)">Learn more</a>
              </div>
            </div>
            <div class="detail col-md-3">
               <div class="img-section">
                <img src="assets\images\ourteam3.jpg" alt="image2" class="image-sec">
                <p class="name">Patrik White</p>
                <p class="p-detail">Founder, Atty</p>
                <p class="p-desc">The person who started the company. It is someone who has an idea and creates a business around that idea.</p>
                <a class="link-text" href="#top" (click)="scrollToTop($event)">Learn more</a>

               </div>
            </div>
            <div class="detail col-md-3">
               <div class="img-section">
                <img src="assets\images\ourteam4.jpg" alt="image3" class="image-sec">
                <p class="name">Divine Jones</p>
                <p class="p-detail">CEO, Atty</p>
                <p class="p-desc">The chief executive officer (CEO) is the highest-ranking person in a company. </p>
                <a class="link-text" href="#top" (click)="scrollToTop($event)">Learn more</a>
               </div>
            </div>
        </div>
    </div>
</div>
