<div class="service-page" id="services">
    <div class="container">
        <h2>Our Services</h2>
        <div class="services row">
            <div class="ser-details col-6 col-md-3">
                <div class="fast-ship">
                    <i class="fa-solid fa-truck-fast"></i>
                    <h4>Fast & Free Shipping</h4>
                    <p>Free shipping is an increasingly-popular option for online shopping, where customers do
                        not have to pay an additional shipping charge</p>
                </div>
            </div>
            <div class="ser-details col-md-3">
                <div class="easy-shop">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <h4>Easy to Shop</h4>
                    <p>Free shipping is an increasingly-popular option for online shopping, where customers do
                        not have to pay an additional shipping charge</p>
                </div>
            </div>
            <div class="ser-details col-md-3">
                <div class="support">
                    <i class="fa-solid fa-headset"></i>
                    <h4>24/7 Support</h4>
                    <p>Free shipping is an increasingly-popular option for online shopping, where customers do
                        not have to pay an additional shipping charge</p>
                </div>
            </div>
            <div class="ser-details col-md-3">
                <div class="easy-return">
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                    <h4>Free Returns</h4>
                    <p>Free shipping is an increasingly-popular option for online shopping, where customers do
                        not have to pay an additional shipping charge</p>
                </div>
            </div>
            <div class="ser-details col-6 col-md-3">
                <div class="fast-ship">
                    <i class="fa-solid fa-truck-fast"></i>
                    <h4>Fast & Free Shipping</h4>
                    <p>Free shipping is an increasingly-popular option for online shopping, where customers do
                        not have to pay an additional shipping charge</p>
                </div>
            </div>
            <div class="ser-details col-md-3">
                <div class="easy-shop">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <h4>Easy to Shop</h4>
                    <p>Free shipping is an increasingly-popular option for online shopping, where customers do
                        not have to pay an additional shipping charge</p>
                </div>
            </div>
            <div class="ser-details col-md-3">
                <div class="support">
                    <i class="fa-solid fa-headset"></i>
                    <h4>24/7 Support</h4>
                    <p>Free shipping is an increasingly-popular option for online shopping, where customers do
                        not have to pay an additional shipping charge</p>
                </div>
            </div>
            <div class="ser-details col-md-3">
                <div class="easy-return">
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                    <h4>Free Returns</h4>
                    <p>Free shipping is an increasingly-popular option for online shopping, where customers do
                        not have to pay an additional shipping charge</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Material Division -->
 <div class="material-desc">
    <div class="container row">
        <div class="details col-6 col-md-3">
            <div class="heading-section">
                <h2>Crafted with Exellent matrial</h2>
                <p>furniture, household equipment, usually made of wood, metal, plastics, marble, glass, fabrics, or related
                    materials and having a variety of different purposes</p>
                    <button class="btn" (click)="scrollToTop($event)">Explore</button>
            </div>
        </div>
        <div class="details col-md-3">
            <div class="image-section d-flex flex-column justify-content-lg-center align-items-lg-center">
                <img src="assets\images\chair2.png" alt="chair image" class="image-ch">
                        <p>Magna Single Seater Recliner Sofa</p>
                        <p>$19,999</p>
            </div>
        </div>
        <div class="details col-md-3">
            <div class="image-section d-flex flex-column justify-content-lg-center align-items-lg-center">
                <img src="assets\images\sofa3.png" alt="chair image" class="image-ch">
                <p>Luxe Motorised RRR Recliner Sofa</p>
                    <p>$16,999</p>
            </div>
        </div>
        <div class="details col-md-3">
            <div class="image-section d-flex flex-column justify-content-lg-center align-items-lg-center">
                <img src="assets\images\chair1.png" alt="chair image" class="image-ch">
                    <p>White Single Sofa</p>
                        <p>$10,999</p>
            </div>
        </div>
    </div>
 </div>