<div class="service-page" id="services">
    <div class="container">
        <h2>Our Services</h2>
        <div class="services row">
            <div class="ser-details col-6 col-md-3" *ngFor="let service of services">
                <div class="service-item">
                    <i [class]="service.icon"></i>
                    <h4>{{ service.title }}</h4>
                    <p>{{ service.description }}</p>
                </div>
                <div class="service-item">
                    <i [class]="service.icon"></i>
                    <h4>{{ service.title }}</h4>
                    <p>{{ service.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Material Division -->
 <div class="material-desc">
    <div class="container row">
        <div class="details col-6 col-md-3">
            <div class="heading-section">
               <h2>{{material.heading}}</h2>
               <p>{{material.description}}</p>
                    <button class="btn" (click)="scrollToTop($event)">Explore</button>
            </div>
        </div>
        <div class="details col-md-3" *ngFor="let item of material.items">
            <div class="image-section d-flex flex-column justify-content-lg-center align-items-lg-center justify-content-md-center align-content-md-center">
                <img [src]="item.image" [alt]="item.alt" class="image-ch">
                <p>{{ item.name }}</p>
                <p>{{ item.price }}</p>
            </div>
        </div>
    </div>
 </div>