<div class="home-page">
    <div class="container d-flex gap-lg-5 flex-md-row">
        <div class="heading-section">
            <h1>Modern Interior Design Studio
            </h1>
            <p>furniture, household equipment, usually made of wood, metal, plastics, marble, glass, fabrics, or related
                materials and having a variety of different purposes</p>
            <div class="buttons d-flex gap-2">
                <button class="btn-shop">Shop Now</button>
                <button class="btn-explore">Explore</button>
            </div>
        </div>
        <div class="image-section">
            <img [src]="'assets/images/sofa2.png'" class="sofa-image">
            <img [src]="'assets/images/table.png'" class="table-image">
        </div>
    </div>
</div>